.duck-outer {
   position: absolute;
   right: calc(20vmax + 20vmin);
   bottom: calc(20px + 20vmax + 20vmin);
}

.duck {
   position: absolute;
   top: 0;
   left: 0;
   transform: rotate(0);
   z-index: 10;

   animation: duckBounce 5s infinite;
   animation-timing-function: ease-in-out;
   animation-delay: -1.5s;

   width: calc(20vmax + 20vmin);
   height: calc(20vmax + 20vmin);

   background-image: url('/images/duck-NOTFORFINAL.png');
   background-repeat: no-repeat;
   background-size: contain;

   transition: top 5s;
   transition-timing-function: ease-in-out;
   transition-delay: 1.5s;
}

@keyframes duckBounce {
   0% {
      left: 20px;
      transform: rotate(3deg);
   }

   50% {
      left: -20px;
      transform: rotate(-3deg);
   }

   100% {
      left: 20px;
      transform: rotate(3deg);
   }
}
