.earth {
   background: url('/images/earth.png');
   background-size: contain;

   width: 40vmin;
   height: 40vmin;

   position: absolute;
   top: 20vh;
   right: -13vmin;

   animation: moveEarth 10s infinite ease-in-out;
}

@keyframes moveEarth {
   0% {
      transform: rotate(-3deg) scale(1);
   }

   50% {
      transform: rotate(3deg) scale(1.05);
   }

   100% {
      transform: rotate(-3deg) scale(1);
   }
}

@media screen and (max-width: 600px) {

}
