.title {
   padding-top: 200px;
}

h1, h2 {
   color: #5627BF;
   font-family: '5 Years Old';
   margin: 0;
   letter-spacing: -0.1em;
   position: relative;
   z-index: 1000;
}

h1 {
   font-size: 7em;
}

h2 {
   font-size: 3em;
}

@media screen and (max-width: 750px) {
   h1, h2 {
      text-align: center;
   }

   h1::after {
      left: 5vw;
   }

   h2::after {
      left: 18vw;
      top: 14px !important;
   }
}

@media screen and (max-width: 450px) {
   h1 {
      font-size: 5em;
   }

   h2 {
      font-size: 2em;
   }
}

@media screen and (max-width: 350px) {
   h1 {
      font-size: 4em;
   }

   h2 {
      font-size: 2em;
   }
}

@media screen and (max-height: 580px) {
   .title {
      padding-top: 50px;
   }
}

@media screen and (max-height: 480px) {
   h2::after {
      content: '';
      display: block;
      position: absolute;
      z-index: -1;
      top: 10px;
      background: #fff;
      height: 30px;
      width: 300px;
      animation: expandWidthTo300 1s ease-in-out;
   }
}

@media screen and (max-height: 400px) {
   h1::after {
      content: '';
      display: block;
      position: absolute;
      z-index: -1;
      top: 40px;
      background: #fff;
      height: 80px;
      width: 470px;
      animation: expandWidthTo470 1s ease-in-out;
      animation-delay: -0.3s;
   }
}

@keyframes expandWidthTo470 {
   from {
      width: 0px;
   }

   to {
      width: 470px;
   }
}

@keyframes expandWidthTo300 {
   0% {
      width: 0px;
   }

   30% {
      width: 0px;
   }

   100% {
      width: 300px;
   }
}
