.water {
   background: url('/images/waves-raw.png');
   background-size: contain;
   background-repeat: no-repeat;

   width: calc(100vw + 140px);
   height: calc(300px + 20vh);

   position: absolute;
   bottom: calc(-100px - 30vh + 8vw);
   left: -70px;
   z-index: 100;

   animation: moveWater 5s infinite;
   animation-timing-function: ease-in-out;
   
   transition: left 2s ease;
   transition-delay: 1s;
}

.water.background {
   z-index: 2;

   height: calc(400px + 20vh);

   transform: scaleX(-1);

   animation-delay: -4.5s;
   animation-name: moveWaterReverse;
}

.water.far {
   z-index: 2;

   height: 34vw;
   height: calc(450px + 20vh);

   transform: scaleX(1);

   animation-delay: -4s;
   animation-name: moveWater;
}

.water.part-left {
   left: calc(-100vw - 140px - 100px) !important;
}

.water.part-right {
   left: calc(100vw + 140px + 100px) !important;
}

@keyframes moveWater {
   0% {
      background-position-x: -20px;
   }

   50%  {
      background-position-x: 20px;
   }

   100%  {
      background-position-x: -20px;
   }
}

@keyframes moveWaterReverse {
   0% {
      background-position-x: 20px;
   }

   50%  {
      background-position-x: -20px;
   }

   100%  {
      background-position-x: 20px;
   }
}

@media screen and (max-width: 800px) {
   .water {
      bottom: calc(-70px - 37vh);
   }
}